<nav>
    <div class="logo">
        <a routerLink="/dashboard">
            <img src="../../assets/quantumScreenAssets/icons/logo used in header.svg" alt="logo used in header">
        </a>
    </div>

    <ul class="up">
        <li class="nav-items hide">
            <a href="#">DASHBOARD</a>
            <ul>
                <li><a href="#">dashboard</a></li>
                <li><a href="#">dashboard</a></li>
                <li><a href="#">dashboard</a></li>
            </ul>
        </li>
        <li class="nav-items hide">
            <a href="#">CONTENT</a>
            <ul>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
            </ul>
        </li>
        <li class="nav-items hide">
            <a href="#">USERS</a>
            <ul>
                <li><a href="#">users</a></li>
                <li><a href="#">users</a></li>
                <li><a href="#">users</a></li>
            </ul>
        </li>
        <li class="nav-items hide">
            <a href="#">REPORTS</a>
            <ul>
                <li><a href="#">reports</a></li>
                <li><a href="#">reports</a></li>
                <li><a href="#">reports</a></li>
            </ul>
        </li>
        <li class="nav-items hide">
            <a href="#">ADMIN</a>
            <ul>
                <li><a href="#">admin</a></li>
                <li><a href="#">admin</a></li>
                <li><a href="#">admin</a></li>
            </ul>
        </li>
        <li class="nav-items alert" [ngClass]="isActiveAlert ? 'active' : ''">
            <a href="#">
                <span class="show alerts" (click)="changeActiveAlert()">
                    <img src="..\..\assets\quantumScreenAssets\icons\alerts.svg" alt="alerts">
                    <span>4</span>
                </span>
            </a>
            <div class="wrapper">
                <ul class="nshow alertul">
                    <li class="alerti" *ngFor="let alert of alerts" [ngClass]="!alert.unread ? 'active' : ''">
                        <span class="text">{{alert.name}}</span>
                        <span class="read" (click)="changeActiveRead(alert)"><img src="..\..\assets\quantumScreenAssets\images\unread.png" alt="alerts"></span>
                        <!-- <span class="class">Class: <span>{{alert.class}}</span></span> -->
                        <span class="class" *ngIf="alert.class">Class: <span>{{alert.class}}</span></span>
                        <span class="class" *ngIf="alert.course">Course: <span>{{alert.course}}</span></span>
                        <span class="datetime">{{alert.date.day}}-{{alert.date.month}}-{{alert.date.year}} at {{alert.time.hour}}:{{alert.time.minute}} {{alert.time.pm ? "pm":"am"}}</span>
                    </li>
                </ul>
                <div class="showAll" >Show all</div>

            </div>
        </li>
        <li class="nav-items announcement" [ngClass]="isActiveAnnouncement ? 'active' : ''">
            <a href="#">
                <span class="show announcements" (click)="changeActiveAnnouncement()">
                    <img src="..\..\assets\quantumScreenAssets\icons\announcements.svg" alt="announcements">
                    <span>4</span>
                </span>
            </a>
            <div class="wrapper">
                <ul class="nshow alertul">
                    <li class="alertli" *ngFor="let announcement of announcements" [ngClass]="!announcement.unread ? 'active' : ''">
                        <span class="pa" *ngIf="announcement.pa">PA: <span>{{announcement.pa}}</span></span>
                        <span class="text">{{announcement.name}}</span>
                        <span class="read" (click)="changeActiveRead(announcement)"><img src="..\..\assets\quantumScreenAssets\images\unread.png" alt="alerts"></span>
                        <span class="class" *ngIf="announcement.class">Class: <span>{{announcement.class}}</span></span>
                        <span class="class" *ngIf="announcement.course">Course: <span>{{announcement.course}}</span></span>
                        <span class="datetime">
                            <span class="files" *ngIf="announcement.files"><img src="..\..\assets\quantumScreenAssets\images\paper-clip.png" alt=""><span>{{announcement.files}} files</span>&nbsp;are attached</span>
                            <span class="date">{{announcement.date.day}}-{{announcement.date.month}}-{{announcement.date.year}} at {{announcement.time.hour}}:{{announcement.time.minute}} {{announcement.time.pm ? "pm":"am"}}</span>
                        </span>
                    </li>
                </ul>
                <div class="showAll"><span>Show all</span> <span class="bar">|</span> <span>Create New</span></div>

            </div>
        </li>
        <li class="nav-items">
            <a routerLink="/login" class="accounts">
                <span class="show dp">
                    <img src="..\..\assets\quantumScreenAssets\images\dp.jpg" alt="announcements">
                    <span>T</span>
                </span>
            </a>
            <ul class="nshow">
                <li><a href="#">account</a></li>
                <li><a href="#">account</a></li>
                <li><a href="#">account</a></li>
            </ul>
        </li>
        <li class="icon">
            <span class="hamburger" (click)="changeActiveHam()">
            <img src="../../assets/quantumScreenAssets/icons/hamburger-menu.svg" alt="">
            </span>
            <ul class="down" [ngClass]="isActiveHam ? 'active' : ''">
                <li class="lidown"  (click)="changeActiveDashboard()" [ngClass]="isActiveDashboard ? 'active' : ''">
                    <a href="#">DASHBOARD</a>
                    <img class="arrow" src="../../assets/quantumScreenAssets/icons/arrow-down.svg" alt="arrow">
                    <ul>
                        <li><a href="#">dashboard</a></li>
                        <li><a href="#">dashboard</a></li>
                        <li><a href="#">dashboard</a></li>
                    </ul>
                </li>
                <li class="lidown" (click)="changeActiveContent()" [ngClass]="isActiveContent ? 'active' : ''">
                    <a href="#">CONTENT</a>
                    <img class="arrow" src="../../assets/quantumScreenAssets/icons/arrow-down.svg" alt="arrow">
                    <ul>
                        <li><a href="#">content</a></li>
                        <li><a href="#">content</a></li>
                        <li><a href="#">content</a></li>
                    </ul>
                </li>
                <li class="lidown" (click)="changeActiveUsers()" [ngClass]="isActiveUsers ? 'active' : ''">
                    <a href="#">USERS</a>
                    <img class="arrow" src="../../assets/quantumScreenAssets/icons/arrow-down.svg" alt="arrow">
                    <ul>
                        <li><a href="#">users</a></li>
                        <li><a href="#">users</a></li>
                        <li><a href="#">users</a></li>
                    </ul>
                </li>
                <li class="lidown" (click)="changeActiveReports()" [ngClass]="isActiveReports ? 'active' : ''">
                    <a href="#">REPORTS</a>
                    <img class="arrow" src="../../assets/quantumScreenAssets/icons/arrow-down.svg" alt="arrow">
                    <ul>
                        <li><a href="#">reports</a></li>
                        <li><a href="#">reports</a></li>
                        <li><a href="#">reports</a></li>
                    </ul>
                </li>
                <li class="lidown" (click)="changeActiveAdmin()" [ngClass]="isActiveAdmin ? 'active' : ''">
                    <a href="#">ADMIN</a>
                    <img class="arrow" src="../../assets/quantumScreenAssets/icons/arrow-down.svg" alt="arrow">
                    <ul>
                        <li><a href="#">admin</a></li>
                        <li><a href="#">admin</a></li>
                        <li><a href="#">admin</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>