<main>
    <div class="loginBlock">
        <a><img class="backimg" src="../../assets/quantumScreenAssets/icons/back.svg" alt="Go back"></a><span class="loginHead">Log in in with Quantum</span>
        <form action="">
            <div class="radios">
                <input type="radio" id="district" name="school_type" value="district" checked>
                <label for="district">District</label>
                <input type="radio" id="independent_school" name="school_type" value="independent_school">
                <label for="independent_school">Independent School</label><br>
            </div>
            <div class="state">
                <span>State*</span><br>
                <select class="select" name="" id="">
                    <option value="Alabama" selected>Alabama</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alabama">Alabama</option>
                </select>
            </div>
            <div class="state district">
                <span>District*</span><br>
                <select class="select" name="" id="">
                    <option value="Alabama" selected>Alabama School District</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alabama">Alabama</option>
                </select>
            </div>
            <div class="credentials username">
                <input type="text" placeholder="Username/Email ID*">
                <p>FORGOT USERNAME?</p>
            </div>
            
            <div class="credentials password">
                <input type="text" placeholder="Password*">
                <p>FORGOT PASSWORD?</p>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="remember" value="remember" name="value" checked>
                <label for="remember">Remember Me</label>
            </div>
        </form>
    </div>
    <div class="loginbutton">
        <button>LOG IN</button>
    </div>
</main>